$white: #ffffff;
$off-white: #fafafa;

$black: #000000;
$off-black: #222222;

$grey: #cccccc;
$dark-grey: #aaaaaa;

$temp: #cccccc;

$friendly-pink: #eeccee;
$grass-yellow: #eeeecc;
$baby-blue: #cceeee;

$green-400: #66bb6a;
$green-500: #4caf50;
$green: $green-400;
