$white: #ffffff;
$off-white: #f5f5f5;

$black: #000000;
$off-black: #222222;

$grey: #cccccc;
$dark-grey: #aaaaaa;

$temp: #cccccc;

$friendly-pink: #eeccee;
$grass-yellow: #eeeecc;
$baby-blue: #cceeee;