$grid-columns: 12;
$grid-md: 768px;
$grid-lg: 1200px;

$grid-breakpoints: (
  (s),
  (m, $grid-md),
  (l, $grid-lg)
);

.center {
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
}

@mixin grid-base($namespace) {
  .#{$namespace}0 {
    display: none;
  }

  @for $i from 1 through $grid-columns {
    .#{$namespace}#{$i} {
      width: 100% / ($grid-columns / $i);
    }
  }
}

@each $val in $grid-breakpoints {
  @if length($val) == 1 {

    $namespace: nth($val, 1);
    @include grid-base($namespace);

  } @else {

    $namespace: nth($val, 1);
    $size: nth($val, 2);

    @media only screen and (min-width: #{$size}) {
      @include grid-base($namespace);
    }
  }
}
