.card {
  display: inline-block;
  border-radius: $radius-md;
  @include box-shadow-md;

  &__details {
    font-size: $font-md;
    background: $white;
    padding: 20px 20px;
  }

  &__image {
    border-radius: $radius-md $radius-md 0 0;
  }
}
