.header {
  @extend .s12;
  background: $baby-blue;
  padding: 0 0 20px 0;

  @include medium {
    background-color: $grass-yellow;
  }

  @include large {
    background-color: $friendly-pink;
  }

  &__logo {
    @extend .s12, .flex;
    height: 140px;
    font-size: $font-lg;
    line-height: 32px;
  }

  &__nav {
    @extend .s9, .flex;
    margin: 0 auto;
    padding: 20px 0;
    border-top: 1px solid $off-black;
    border-bottom: 1px solid $off-black;
  }

  &__nav-item {
    @extend .s3, .flex;
    padding: 10px 0px;
    font-size: $font-md;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: $white;
    }
  }

  &__sub-nav {
    height: 100px;
    background: $temp;
  }
}
